.projectHighlight {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  /* top:none !important; */
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 2rem 1rem;
  
}

#projectContainer {
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 2rem 1rem;
}

.darkTheme #projectContainer {
  background-color: var(--background-dark);
  color: var(--text-light);
}

.darkTheme .projectHighlight {
  background-color: var(--background-dark);
  color: var(--text-light);
}

.leftSide {
  width: 50%;
  position: sticky;
}

.introText {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.imageContainer {
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
}

.scrollBox {
  width: 50%;
  max-height: 90vh !important;
  overflow-y: auto;
  padding-left: 1rem;
}

.scrollContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.buttonsContainer {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

/* @media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .projectCard {
    margin-bottom: 1rem;
  }

  .cardBody {
    padding: 1rem;
  }
} */