.hero {
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative; /* critical so .overlay can anchor to it */
  min-height: 120vh;   /* enough height for overlay to float inside */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  --hero-heading-color: var(--primary-color);
  --hero-accent-color: var(--secondary-color);
}

.hero h1 {
  color: var(--hero-heading-color);
  /* margin-bottom: 1rem; */
}

.heroContainer {
  /* position: sticky; */
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; Adjust based on screen size */
}

.accent {
  color: #F26419; /* or any color you want */
}