/* HeroImage.module.css */
  /* .heroImage {
    max-width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
    position: relative;
    display: block;
    z-index: 500;
  } */

  .heroImage {
  /* margin-left: 7vw; */
  /* max-height: 85%; */
  /* padding-bottom: 6vh; */
  /* position: absolute; */
  /* left: 0; */
  /* width: 100%; */
  /* height: auto; */
}


  
  /* Responsive adjustments */
  @media (max-width: 767px) {
    .heroContainer {
      /* padding: 10px; */
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .heroContainer {
      /* padding: 15px; */
    }
  }
  
  @media (min-width: 1024px) {
    .heroContainer {
      /* padding: 20px; */
    }
  }
  