/* Light Theme */
:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --primary-color: #4a90e2;
    --primary-color-dark: #357abd;
  }
  
/* Dark Theme */
.dark-theme {
    --background-color: #121212;
    --text-color: #eeeeee;
    --primary-color: #bb86fc;
    --primary-color-dark: #3700b3;
  }
  