#logo-object {
    width: 10px;
    height: auto;
    display: block;
    visibility: visible;
    opacity: 1;
    overflow-clip-margin: none !important;
    /* overflow: visible !important; */
    background-size: 200px, 100xp;
  }  
  

.logo {
  width: 100%;
  max-width: 150px; /*Control maximum width here*/
  height: auto; /*Maintains aspect ratio*/
  display: block;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  position: relative; /*Ensures the object aligns properly*/
  transition: max-width 0.3s ease, transform 0.3s ease; /* Smooth resizing */
  /* max-height: 50px !important; Adjust as needed */
  /* background: transparent; Ensures no background color is added */
  /* background-size: 200px, 100xp; */
}

.logoScroll {
  max-width: 125px; /* Smaller size for scrolled state */
  transform: scale(0.7); /* Optional: Add slight scaling effect */
}

/* logo.module.css */
/* .logo { */
  /* display: block; */
  /* max-width: 150px; Sets a max width */
  /* Maintains aspect ratio */
  /* height: auto;  */
/* } */

/* #logo-object {
  width: 100%;
  height: auto;
  display: block;
} */

/* Control parent div sizing to avoid overflow */
.navbar_logo {
  max-width: 150px; /* or an appropriate size */
  margin-right: auto;
}
