@import './styles/themes.css';
@import './styles/responsive.css';
@import './styles/sharedStyles.css';

html {
  scroll-behavior: smooth;
}

/* Override Bootstrap colors */
:root {
  --bs-primary: var(--primary-color);
  --bs-secondary: var(--secondary-color);
  /* Add any other overrides here */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  border: 2px solid blue;
  background-color: blueviolet !important;
}

.navbar_spacer {
  border: 2px solid red;
}

.layoutContainer {
  border: 2px solid green;
}

* {
  box-sizing: border-box; 
}

.navbar, .navbar_spacer, .layoutContainer {
  margin: 0;
  padding: 0;
}

