@import './styles/themes.css';
@import './styles/responsive.css';
@import './styles/sharedStyles.css';

html {
  scroll-behavior: smooth;
}

/* Override Bootstrap colors */
:root {
  --bs-primary: var(--primary-color);
  --bs-secondary: var(--secondary-color);
  /* Add any other overrides here */

  /* Hide scrollbars but keep scrolling */
  overflow: auto;            /* or overflow-y: auto */
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}

:root::-webkit-scrollbar {
  width: 0;                  /* vertical */
  height: 0;                 /* horizontal */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
